/*=====================================================*/
/* BASIC SETUP */
/*=====================================================*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #e9eef0;
    color:#000000;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



/*========== COMMON ==========*/

a:link,
a:visited{
    text-decoration:underline;
    color:#000000;
}

a:active,
a:hover{
    text-decoration:underline;
    color:#908f8f;
}

/*============================*/
/*========== HEADER ==========*/


.baner {
position: relative;
z-index: -1;
display: block;


}

.baner img {
    
    width: 100%;
	height:auto;
    margin-top: 38px;
}

.baner-art {
position: relative;
z-index: -1;
display: block;


}

.baner-art img {
    width: 100%;
	height:auto;
    margin-top: 38px;
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
}
.text-box{
    position: absolute;
    background-color: #418FDE;
    text-transform: uppercase;
    color:#fff;
    bottom: 25px;
    left: 30px;
    font-size: 120%;
    padding: 8px;
    
    }

@media screen and (max-width: 500px) {
  .text-box {
    font-size: 65%;
  }
}


/*========== BUTTONS ==========*/    


/*

.topBtn {
    position: fixed; 
    bottom: 10px; 
    right: 40px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #4e4d4d; 
    color: #fff; 
    cursor: pointer; 
    padding: 10px;
    border-radius: 15px;
    font-size: 180%; 
    width: 50px;
    height: 50px;
}

*/

.topBtn {
     /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 10px; /* Place the button at the bottom of the page */
    right: 40px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #4e4d4d; /* Set a background color */
    color: #fff; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 8px 5px 5px 5px; /* Some padding */
    border-radius: 15px; /* Rounded corners */
    font-size: 40px; /* Increase font size */
    width: 50px;
    height: 50px;
    text-align: center;
    
}

.topBtn i{
    margin: 0 1px 0 0;
    right: 10px;
}

.rotate{
    display: inline-block;
    padding: 0px 15px 5px 0px;
    transform: rotate(90deg);
}

.topBtn a:link,
.topBtn a:visited{
    color: #fff;
}

.topBtn a:active,
.topBtn:hover{
    background-color: #908f8f;
}

/*========== NAVBAR ==========*/   

.main-nav {
    list-style:none;
    background-color: #4e4d4d;
    padding:  10px 0px;
    width: 100%;
    position:fixed;
}

.main-nav li{
    display:inline-block;
    background:  #4e4d4d;
    margin: 0;
    font-size: 75%;
    text-transform: uppercase;
    float: left;
    
}

.main-nav li a{
    padding: 10px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    
}

.main-nav li a:active,
.main-nav li a:hover{
    background: #908f8f;
    text-decoration: none;
}




/*========== HEADINGS ==========*/


h1 {
    max-width: 700px;
	text-align: center;
    margin: 0px auto;
    padding: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 200%;
}

h2 {
    max-width: 700px;
	text-align: center;
    margin: 0px auto;
    padding: 20px;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 160%
}

h3 {
    text-align: center;
    font-weight: 300;
    padding: 20px;
    margin-top: 25px;
    font-size: 120%;
}


h4 {
	text-align: center;
    font-weight: 300;
    padding: 10px;
    font-size: 95%;
}


h0 {
    font-size:32px;	
}


/*========== PARAGRAPHS ==========*/


p {
    font-family: 'Roboto', sans-serif;
	font-size: 85%;
	line-height: 150%;
	margin: auto;
	text-align: justify;
	text-indent: 50px;
	margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: 300; 
}




/*========== BUTTONS ==========*/


.indent {
text-indent: 10px;
}

/*========== PROGRAM =========*/

.program {
    margin-bottom: 100px;
}
.program-table {
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
}

.program-table td {
    vertical-align: top;
	font-size: 20px;
	max-width: 600px;
	padding-top: 0.5em;
    margin-bottom: 0.5em;
	padding-left: 20px;
}




/*.program-table td a{
    text-decoration: underline;
    color: #000;
}

.program-table td a:active{
    text-decoration: underline;
    color: #3498db;
}
*/


/*========== AUTHOR INFO =========*/
.author-info{
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
}

.author-info:before{
    display:block;
    height: 1px;
    background-color: #4e4d4d;
    content: " ";
    width:80%;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 45px;
    }

.author-info:after{
    display:block;
    height: 1px;
    background-color: #4e4d4d;
    content: " ";
    width:80%;
    margin: 0 auto;
    margin-bottom: 25px;
    }

.author-info img {
    width: 120px;
    height: auto;
    float: left;
    margin: 0 15px 0 0
}

.author-name {
    text-align: left;
    font-size: 85%;
    font-weight: bold;
    text-indent: 0px;
}
.author-text {
    font-size: 80%;
    text-align: justify;
    padding: 10px;
    text-indent: 0px;
    
}

/*========== ARTICLE =========*/
.art-image { 
    margin: 10px auto;
    text-align: center;
    display: block;
}

.art-image-text{
    text-indent:0px;
    font-size: 75%;
    text-align: center;
    padding: 10px;
    font-style: italic;
}

.title {
    margin-top: 20px;
}

.art-title {
    margin: 20px;
}

.art-title a:link,
.art-title a:visited{
    text-decoration:underline;
    color:#4e4d4d;
}

.art-title a:active,
.art-title a:hover{
    text-decoration:underline;
    color:#908f8f;
}

.article {
    max-width: 600px;
    padding: 0 15px;
    margin: auto;
    }

.art-list {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    font-size: 85%;
    margin: 10px 0px 25px 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
    }

.art-list li {
    line-height: 150% ;
    padding: 5px;
    }



.art-list-sub {
    margin-left: 30px;
    list-style-type: square;
    padding-top: 5px;
    
}

.author-section {
    margin-bottom: 80px;
}






